$primary: #37474f;
$secondary: #603890;
$tertiary: #1060b0;
$error: #d32f2f;
$white: #FFFFFF;
$black: #333333;
$background: #eeeeee;

$spacer: 8px;
$border: 1px solid #dddddd;

$shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);