@use './material/styles/materialstyle';
@use './icon/materialdesignicons';
@use './roboto/mixins' as Roboto;
@use './variables' as *;

@include Roboto.faces();

.azm-center-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.azm-center-start {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-start;
}

.azm-center-between {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
}

.amz-full-width {
  width: 100%;
}

.amz-full-height {
  height: 100%;
}

.amz-full-box {
  width: 100%;
  height: 100%;
}
