@use './variables' as *;

$topbar-height: 48px;
$left-nav-panel: 220px;
$right-aibot-panel: 320px;

.amz-web-app-preview {
  > .amz-web-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-color: $background;
  }

  .amz-web-topbar {
    height: $topbar-height;
    background: $white;
    border-bottom: $border;
    box-shadow: $shadow;

    > .amz-web-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
    }

    .amz-web-brand {
      flex-grow: 0;
      width: $left-nav-panel;
      height: 100%;

      > .amz-web-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
      }

      .amz-web-logo {
        width: calc(100% - $topbar-height);
        height: 100%;

        > .amz-web-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          overflow: hidden;
        }
      }

      .amz-web-toggle {
        width: $topbar-height;
        height: 100%;

        > .amz-web-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
      }
    }

    .amz-web-nav {
      flex-grow: 1;
      height: 100%;
    }

    .amz-web-menu {
      flex-grow: 0;
      height: 100%;

      > .amz-web-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        overflow: hidden;
      }

      .amz-web-menu-item {
        width: $topbar-height;
        height: 100%;

        > .amz-web-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
      }
    }
  }

  .amz-web-body {
    width: 100%;
    height: calc(100% - $topbar-height);
    min-height: calc(600px - $topbar-height);

    > .amz-web-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
    }

    .amz-web-sidebar {
      flex-grow: 0;
      width: $left-nav-panel;
      height: 100%;
      min-height: calc(600px - $topbar-height);

      > .amz-web-wrapper {
        width: 100%;
        min-height: 100%;
        display: block;
      }
    }

    .amz-web-content {
      flex-grow: 1;
      min-height: 100%;
      min-height: calc(600px - $topbar-height);

      > .amz-web-wrapper {
        width: 100%;
        min-height: 100%;
        display: block;
      }
    }
  }

  .amz-widget-placeholder {
    width: 100%;
    height: 100%;
  }
}
